@charset "utf-8";
/* all */
html {padding: 0; margin: 0;}
h1, h2, h3, p, ul, li, a, strong{padding: 0; margin: 0; font-family: 'NanumMyeongjo', 'Scheherazade New', 'Times New Roman', serif;  word-break: keep-all;}
ul {list-style: none;}
li {font-family: inherit;}
a {text-decoration: none; color: inherit; display: block;}
main, footer { margin: 0; padding: 76px 8vw;}


/* header */
header {
  margin: 0;
  position: relative;
  height: 500px;
  overflow: hidden;
  background-color: #fff;
}
.gnb_wrap {
  position: fixed;
  top: 0px; right: 0px;
  width: 100%;
  height: 140px;
  line-height: 140px;
  background-color: #fff;
  z-index: 50;
}
.gnb_wrap h1 {
  float: left;
  margin: 14px 0 0 8vw;
}
.gnb_wrap h1 img {
  width: 90px;
  height: 48px;
}

ul.gnb {
  display: flex;
  float: right;
  font-weight: 600;
  margin-right: 8vw;
}
ul.gnb li {
  margin: 0 14px;
}
ul.gnb li a {
  display: block;
  margin: 0 25px;
  font-size: 18px;
  font-family: 'Gothic A1', sans-serif;
  height: 88px;
}
ul.gnb li a:hover {
  border-bottom: 2px solid #000 ;
  animation: under 0.5s;
}
@keyframes under {
  0% {
    width:0%;
  }
  100% {
    width:calc(100% - 50px);
  }
}


#header_bg {
  background-color: #0d50a0;
  height: 2000px;
  width: 150%;
  display: block;
  margin: 0; padding: 0;
  animation: h_bg 1s;
  position: absolute;
  top: -550px; 
  left: 3000px;
  z-index: 50;
  transform: rotate(-10deg);
}
@keyframes h_bg {
	0% {
    left: -2vw;
	}
	100% {
    left: 110vw;
	}
}

/************ main 시작 && intro *************/
main {
  background-color: #0d50a0;
  color: #cfd9e2;
}
.intro_box {
  width: 100%;
}
.intro p {
  font-size: 22px;
  font-family: 'Gothic A1', sans-serif;
  width: 600px;
  float: right;
}
.intro img {
  display: block;
  margin: 0 auto 110px;
  width: 20px; height: 36px;
  clear: both;
}


