@charset "utf-8";

#box_title,
#box_title_box {
  font-size: 160px;
  letter-spacing: -16px;
  bottom: -358px;
}
#box_title_box {
  font-size: 280px;
  letter-spacing: -24px;
  left: 12px;
  bottom: -248px!important;
}

/* work */
.work_wrap {
  padding-right: 0vw;
}
.title_wrap {
  padding-left: 0vw;
}
/* work box */
.work .img_space .box {
  width: 580px;
}
[data-trigger].visible {
  opacity: 1;
  left: -180px;
}
.work_wrap .project_box {
  width: 300px;
}
/* work phone */
.work .img_space img,
.work.p4 .img_space video {
  width: 260px; left: 80px;
}
.work .img_space .img_bg {
  top: 26px; left: 82px;
  width: 256px; height: 534px;
}

.work.p1 .img_space .img_bg video,
.work.p2 .img_space .img_bg video,
.work.p3 .img_space .img_bg img,
.work.p4 .img_space .img_bg video {
  width: 254px;
  left: 0px;
}

.txt_space p {
  width: 300px;
  float: right;
}

/* about */
p#about_title {
  font-size: 300px;
  left: -160px;
}
ul.skill {
  padding-top: 500px;
}

/* email */
#email {
  font-size: 80px;
}
