

/* pub 첫째 */
/* ul.pub.content {
  width: 90%;
  margin-left: auto;
}
ul.pub.content li:first-of-type > ul {
  display: flex;
}
ul.pub.content li:first-of-type > ul > li {
  width: 24%;
  line-height: 30px;
}
ul.pub.content ul > li span {
  font-weight: 500;
} */
/* pub 둘째 & 셋째 */
ul.pub.content > li:nth-of-type(2) {
  display: flex;
}
ul.pub.content > li:nth-of-type(2) .wrap {
  width: 46%;
  font-size: 18px;
}
ul.pub.content > li:nth-of-type(2) .wrap li {
  margin: 10px 0;
  line-height: 26px;
  min-height: 98px;
  max-height: 180px;
}
ul.pub.content > li:nth-of-type(2) .wrap li:first-child {
  min-height: 104px;
  max-height: 180px;
  margin: 20px 0;
}

ul.pub.content > li:nth-of-type(2) .wrap:nth-child(2){
  width:8%;
  padding: 0 3%;
  box-sizing: border-box;
}

/* layout */
ul.lay.content > li:nth-child(3) ul li:nth-child(1) {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
ul.lay.content > li:nth-child(3) ul li:nth-child(2) {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
ul.lay.content > li:nth-child(3) ul li:nth-child(3) {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}
ul.lay.content > li:nth-child(3) ul:nth-child(2) li:nth-child(1) {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
ul.lay.content > li:nth-child(3) ul:nth-child(2) li:nth-child(2) {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}


/* view */
.view .view_bg {
  position: absolute;
  top: 248px;
  left: calc(50% - 536px);
  display: block;
  width: 1066px;
  height: 670px;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
}
.view .view_bg img {
  position: absolute;
  top: 10px;
  left: calc(50% - 514.5px);
  z-index: 4;
  animation: vimg_move 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes vimg_move {
  0% {
    top: 10px;
  }
  5% {
    top: 10px;
  }
  35% {
    top: -520px;
  }
  65% {
    top: -1100px;
  }
  95% {
    top: -1500px;
  }
  100% {
    top: -1500px;
  }
}

/* 모바일 */
.view .moblie_case {
  position: absolute;
  bottom: 230px;
  right: 200px;
  display: block;
  z-index: 10;
}
.view .moblie_bg img {
  position: absolute;
  top: -12px; left: -2px;
  z-index: 9;
  animation: img_move 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes img_move {
  0% {
    top: -10px;
  }
  5% {
    top: -10px;
  }
  35% {
    top: -360px;
  }
  65% {
    top: -720px;
  }
  95% {
    top: -1150px;
  }
  100% {
    top: -1150px;
  }
}
