@charset "utf-8";
ul {list-style: none; padding: 0;margin: 0;}
li, a {text-decoration: none; color: inherit; font-family: inherit; display: block; word-break : keep-all;}
h1, h2, h3, h4, h5 {font-family: 'SEBANG', sans-serif; margin: 0; text-transform: uppercase; word-break : keep-all;}
p {font-family: 'Pretendard', sans-serif; font-weight: 300; text-transform: uppercase; word-break : keep-all;}
h3 {font-size: 34px;}


/* header */
header {
  position: fixed;
  width: 100%; height: 70px;
  top: 0;
  z-index: 100;
}
header.down {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}
header h1{
  width: 124px;
  padding: 24px 0 0 20px;
}
header h1 img {
  width: 100%;
}
header .gnb_icon {
  position: absolute;
  display: flex;
  top: 24px; right: 20px;
}
header .gnb_icon li {
  width: 40px;
}
header .gnb_icon li img {
  width: 24px;
  cursor: pointer;
}

.gnb {
  margin-top: 9px;
  padding: 0;
  font-family: 'SEBANG', sans-serif;
  position: absolute;
  top: 50px;
  right: 38px;
  z-index: 90;
}
.gnb .S {display: none;}
.gnb li a {
  margin: 2px 0;
  padding: 10px 4px;
  text-align: center;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #000;
  color: #000;
}
.gnb li a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #fff;
  color: #fff;
}
.gnb_wrap {display: none;}


/* main */
/* .search_layer */
.search_layer {
  background-color: #202020;
  text-align: center;
  color: #fff;
  width: 100%;
  min-height: 100vh; height: inherit;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  z-index: 101;
  display: none;
}
.search_layer h3 {
  font-size: 40px;
  padding: 20px 0 0px;
}
.search_layer h5 {
  font-weight: normal;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'SEBANG', sans-serif;
}
.search_layer .tool {
  border-bottom: 1px solid #fff;
  display: block;
  width: 300px;
  margin: 0 auto;
}
.search_layer .tool input {
  border: none;
  background-color: transparent;
  padding: 10px;
  outline: none;
  color: #fff;
  width: 200px;
  box-sizing: border-box;
}
.search_layer .tool button {
  background: url(images/icon/search.svg) 50% 50% no-repeat;
  text-indent: -9999px;
  width: 30px; position: absolute;
  top: 130px; left: calc(50% + 120px);
  border: none;
  cursor: pointer;
}
.search_layer p {
  cursor: pointer;
  margin: 10px 0;
}
.result {
  text-align: left;
}
.result h2 {
  font-size: 18px;
}
.result p {
  width: 600px;
}



.head {
 width: 100%; height: 70vh;
 background: url(images/banner55.png) no-repeat 50% 50% / cover;
 color: #fff;
}
.head h2 {
  font-size: 50px;
  text-align: center;
  padding: 30vh 0 0;
  font-weight: normal;
}
.head p {margin: 40px 0 0;}
.head p a {
  display: block;
  border: 2px solid #fff;
  width: 188px; height: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}
.head p.mouse {
  display: block;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  margin: 80px auto 0;
}
.head p.mouse::after {
  content: "";
  display: block;
  width: 6px; height: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px auto 0;
  animation: mouse 2s forwards infinite;;
}
@keyframes mouse {
  0% {
    margin: 4px auto 0;
    opacity: 1;
  }
  100% {
    margin: 30px auto 0;
  opacity: 0;
  }
}

/* back_contain */
.back_container.swiper-container {
  margin: 70px auto;
  width: 80%;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.back_container h3 {
  margin: 20px 0;
}
.back.swiper-slide {
  width: 100%;
  overflow: hidden;
}
.back .img {
  width: initial;
  margin: 0;
}
.back .img > img{
  width: 100%;
}
.back h4 {
  margin: 8px 0 0;
  font-size: 22px; font-family: 'Pretendard', sans-serif; font-weight: 600;
}
.back p {
  font-size: 16px;
  color: #444;
  width: 90%;
  margin: 8px auto;
}
.back p.price {
  font-size: 20px;
  font-weight: 800;
  color: #000;
  margin: 40px auto 20px;
}
.back p.cart_box {
  color: #000;
  border: 2px solid #000;
  width: 134px; height: 46px;
  line-height: 46px;
  font-weight: 400;
  margin: 0 auto;
  cursor: pointer;
}

.swiper-button-prev {
  color: #444;
  left: -40px;
  transform: scale(0.6);
  top: calc(50% - 70px);
}
.swiper-button-next {
  color: #444;
  right: -45px;
  transform: scale(0.6);
  top: calc(50% - 70px);
}


/* book */
.book_contain {
  /* margin-top: 1000px; */
  width: 100%;
  display: grid;
  /* 4행 2열 */
  grid-template:repeat(8, 50vw)/ repeat(2, calc(50vw - 9px));
  /* grid-template-areas: 이름으로 영역 지정
    "인용부호 안의 값은 하나의 행 안의 하나의 셀" 1번째 행
    "txt txt" 2번째 행. 텍스트 다음 띄어쓰기를 통해 셀 표시
    ". or none" 3번째 행. 비움. */
  grid-template-areas:
    "book1 book1"
    "book1 book1"
    "book2 book3"
    "book4 book5"
    "book10 book10"
    "book10 book10"
    "book6 book7"
    "book8 book9"
}
.book {
  box-sizing: border-box;
  position: relative;
  background-color: #eee;
  overflow: hidden;
}
.book img {
  padding-top: 20px;
  height: 30vw;
  display: block;
  margin: 0 auto;
}
.book .box_bg {
  position: absolute;
  width: 48vw;
  height: 48vw;
}
/* hover */
.book:hover .box_bg {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.book:hover img {
  height: 32vw;
  transition: 0.5s;
}
.book1:hover,
.book:hover {
  opacity: 0.8;
  transition: 0.5s;
}
/*  */
.b_txt {
  width: 100%;
  position: absolute;
  bottom: 20px;
}
.b_txt h4 {
  color: #000;
  font-size: 16px;
  margin: 30px 40px 10px;
}
.b_txt p {
  color: #000;
  font-size: 12px;
  margin: 0 0 0 40px;
  float: left;
}
.book p.price {
  font-size: 14px;
  font-weight: 600;
  margin: 0 40px 0 0;
  float: right;
}
.book1 h4, .book10 h4 {
  color: #fff;
  font-size: 36px;
  margin: 40px 0 0 40px;
  clear: both;
}
.book1 p, .book10 p {
  color: #fff;
  font-size: 16px;
  font-family: 'SEBANG', sans-serif;
  line-height: 22px;
  margin: 12px 0 0 40px;
  clear: both;
}

.book1 {
  grid-area: book1;
  background: url(images/books/book1.png) no-repeat 50% 50% / cover rgb(0, 0, 0);
}
.book2 {
  grid-area: book2;
}
.book3 {
  grid-area: book3;
}
.book4 {
  grid-area: book4;
}
.book5 {
  grid-area: book5;
}
.book6 {
  grid-area: book6;
}
.book7 {
  grid-area: book7;
}
.book8 {
  grid-area: book8;
}
.book9 {
  grid-area: book9;
}
.book10 {
  grid-area: book10;
  background: url(images/books/book10.png) no-repeat 50% 50% / cover rgb(0, 0, 0);
}


/* .brand_contain */
.brand_contain h3 {
  margin: 100px 0 30px;
  text-align: center;
}
.brand_wrap {
  display: grid;
  height: initial;
  row-gap: 60px;
  grid-template:repeat(3, 3fr)/ repeat(1, 1fr);
  grid-template-areas:
    "brand1"
    "brand2"
    "brand3"
}
.brand1 {
  grid-area: brand1;
}
.brand2 {
  grid-area: brand2;
}
.brand3 {
  grid-area: brand3;
}
.brand {
  width: 100%;
  height: initial;
  text-align: center;
}
.brand > a > img {
  width: 90%;
}
/* brand1 banner */
.brand1 {
  position: relative;
}
.brand1 > a > img {
  width: 100%;
  /* position: relative; */
}
.brand1 .bd1_txt {
  position: absolute;
  bottom: 100px; left: 40px;
  text-align: left;
}
.brand1 h4 {
  font-size: 38px;
  font-family: 'SEBANG', sans-serif;
  color: #fff;
}
.brand1 p {
  font-size: 18px;
  color: #fff;
  width: 80%;
}

/* bd2, bd3 */
.bd_txt > h4 {
  text-align: left;
  font-size: 20px;
  font-family: 'Pretendard', sans-serif;
  text-shadow: #000;
  margin: 20px 40px;
}
.bd_txt > p {
  text-align: left;
  font-size: 18px;
  color: #444;
  width: calc(90% - 40px);
  margin: 0 0 30px 40px;
  border-bottom: 2px solid #444;
  padding-bottom: 60px;
}


.inner img {
  width: 20%;
  margin: 0 0 0 40px;
  display: block;
  float: left;
}
.inner .in_txt {
  float: left;
  text-align: left; 
  padding-left: 20px;
}
.inner .in_txt h4 {
  font-size: 20;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  text-align: left;
}
.inner .in_txt p {
  font-size: 16;
  font-weight: 500;
  color: #444;
  text-align: left;
}

.brand_contain .brand_box a {
  width: 140px; height: 50px;
  border: 3px solid #000;
  line-height: 50px;
  text-align: center;
  margin: 40px auto;
  font-weight: 500;
}
.brand_contain .brand_box a:hover {
  background-color: #000;
  color: #fff;
}


/* .nor_contain */
.nor_contain {
  text-align: center;
  margin: 0 auto;
}
.nor_contain h3 {
  margin: 140px 0 30px;
}
.nor_contain div div {
  border: 3px solid #000;
  height: 290px; width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.nor_contain .restock {
  border-bottom: none;
}
.nor_contain div img {
  margin: 20px 0;
}
.nor_contain div h5 {
  font-size: 18px;
  margin: 0;
}
.nor_contain div p {
  width: 60%;
  margin: 14px auto;
  text-transform: lowercase;
}


/* footer */
footer {
  margin-top: 150px;
  padding: 40px 40px;
  background-color: #000;
  color: #fff;
}
footer h5 {
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
.f_wrap > div {
  margin: 40px 0;
}
footer p {margin: 6px 0;}
.open p.num {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.open p.email {
  font-size: 18px;
}
.open p.c_right p:first-child span{
  font-size: 18px;
}
